<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ScrumboardSoap" receiveTimeout="00:03:00" sendTimeout="00:03:00" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49340/Scrumboard.asmx" binding="basicHttpBinding"
                bindingConfiguration="ScrumboardSoap" contract="ScrumboardService.ScrumboardSoap"
                name="ScrumboardSoap" />
        </client>
      <!--client>
            <endpoint address="http://172.25.22.189:81/ScrumboardV2/Scrumboard.asmx" binding="basicHttpBinding"
                bindingConfiguration="ScrumboardSoap" contract="ScrumboardService.ScrumboardSoap"
                name="ScrumboardSoap" />
        </client-->
    </system.serviceModel>
</configuration>